body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #506590;
}
img {
  border-radius: 6px;
}

figcaption {
  text-align: right;
}

a:link,
a:active,
a:hover,
a:visited {
  color: #506590;
  text-decoration: underline;
}

.skipline li {
  margin-bottom: 1rem;
}

.biblio {
  list-style: none;
  padding-left: 22px;
  text-indent: -22px;
}
