/******************************************
 File Name: help.css 
 Item Name: Help Center
 Created By: Design Collection 
 Version: 1.0 
 *******************************************/


/** #     [Table of contents]
			
			* Body Part	
			# 01  -  Navigation
			# 02  -  Header 
			# 03  -  Headding
			# 03  -  Title
			# 03  -  Search Bar
			# 04  -  Categories
			# 06  -  Contact Us Section
			# 07  -  Article
			# 06  -  Footer
		
		
				
			# [Color codes]
			
			Header BG :  #f5f5f5 (White Smoke)
			Top BG :  #fff (pure White)
			Content : #525252 (Matterhorn), #111
			Hyper Link :  #ff6f61 (Bittersweet)
			
			
		
			
			
			
			**/


/* Help Css Begin */

html,
body {
	font-family: 'jost', sans-serif;
	scroll-behavior: smooth;
}

.my-120 {
	margin: 120px 0px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-34 {
	margin-bottom: 50px;
}

.mt-34 {
	margin-top: 34px;
}

.mb-120 {
	margin-bottom: 120px;
}

a:hover {
	color: #ff6f61;
}

.ml-40 {
	margin-left: 40px;
}

.pl-40 {
	padding-left: 40px;
}

p {
	font-size: 18px;
	line-height: 29px;
	color: #525252;
	font-family: 'jost', sans-serif;
	font-weight: 400;
}

section.header {
	text-align: center;
	padding: 120px 0px;
	background: #f5f5f5;
}

.border-white {
	border: 1px solid #fff;
}

#overlay {
	background: #ffffff;
	color: #666666;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5000;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
	padding-top: 15%;
}


/* Black Button Begin */

.black-btn {
	background: #1f1f1f;
	color: #fff;
	border: 1px solid #1f1f1f;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	font-family: 'jost', sans-serif;
	padding: 14px 28px;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 0px;
}

svg.svg-inline--fa.fa-long-arrow-alt-right.fa-w-14.ml-2 {
	transition: all .5s ease;
}

.black-btn:hover svg.svg-inline--fa.fa-long-arrow-alt-right.fa-w-14.ml-2 {
	transform: translate(10px);
}

.black-btn:hover {
	text-decoration: none;
	color: #fff;
}

.header h2,
.cat-wrapper h2,
.community h2,
.inner-cat h2,
.follow-content-wrapper h2,
.helpful-box h2,
.contact-wrapper h2,
.header-content h2 {
	font-size: 40px;
	font-family: 'jost';
	letter-spacing: 2px;
	color: #111;
	line-height: 64px;
	font-weight: 500;
}

.header h6,
.cat-wrapper h6,
.community h6,
.follow-content-wrapper h6,
.helpful-box h6,
.contact-wrapper h6 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #525252;
	font-family: 'jost';
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 25px;
	height: 25px;
}

.article h3,
.article-box h3,
.helpful-box h3,
footer h3,
.inner-cat h3,
.tbl-content h3,
.Instalation h3,
.quick-setup h3,
.change-pass h3,
.advance-option h3,
.content-import h3,
.contact-wrapper h3,
.demo-headding h3 {
	font-size: 20px;
	padding: 0;
	color: #111;
	font-family: 'jost';
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 25px;
	text-transform: capitalize;
}


/* Navigation Begin */

.bg-light {
	background-color: #fff !important;
	border-bottom: 1px solid #f3ecec;
}

.navbar-brand:hover {
	color: #111;
}

.navbar-brand {
	color: #111;
	font-size: 18px;
	font-family: 'jost';
	font-weight: 800;
}

.nav-link {
	color: #111 !important;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 22px;
	margin-left: 20px;
	text-transform: uppercase;
	font-family: 'jost';
	padding: 0;
}

.nav-link:hover {
	color: #ff6f61!important;
}


/* Navigation End */


/* Header Section Begin */

header.header-section {
	background: #eee;
	padding: 150px 0px;
	text-align: center;
}


/* Search Section Begin */

.search-bar {
	padding-top: 50px;
}

input#exampleInputEmail1 {
	border: 1px solid #ccc;
	border-radius: 0px;
}

.search-icon {
	position: absolute;
	top: 46%;
	right: 5%;
	font-size: 20px;
	color: #525252;
}

::placeholder {
	font-size: 15px;
	margin: 0;
	font-weight: 400;
	padding: 0;
	color: #525252;
	font-family: 'jost';
	letter-spacing: 2px;
}

.form-control:focus {
	box-shadow: none;
}


/* Search Section End */


/* Header Section End */

.cat-item {
	padding: 76px 20px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
	transition: all 1s ease;
}

.cat-item:hover {
	background: #eee;
}

.cat-item-one,
.cat-item-two,
.cat-item-three,
.cat-item-four,
.cat-item-five,
.cat-item-six,
.cat-item-seven,
.cat-item-eight {
	padding: 76px 20px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
	transition: all 1s ease;
}

.cat-item-one:hover {
	border: 1px solid #1b19ab82;
}

.cat-item-two:hover {
	border: 1px solid #CCB88B;
	;
}

.cat-item-three:hover {
	border: 1px solid #f1c207;
}

.cat-item-four:hover {
	border: 1px solid #5fab26;
}

.cat-item-five:hover {
	border: 1px solid #ec1cac99;
}

.cat-item-six:hover {
	border: 1px solid #0cc7a3;
}

.cat-item-seven:hover {
	border: 1px solid #cc937f;
}

.cat-item-eight:hover {
	border: 1px solid #823A99;
}

.cat-item-one:hover,
.cat-item-two:hover,
.cat-item-three:hover,
.cat-item-four:hover,
.cat-item-five:hover,
.cat-item-six:hover,
.cat-item-seven:hover,
.cat-item-eight:hover {
	background: #eee;
}

.mar-B30 {
	margin-bottom: 30px;
}

.mar-B-50 {
	margin-bottom: 50px;
}

.cat-icon {
	font-size: 30px;
	color: #ff6f61;
}

.cat-icon-one {
	font-size: 30px;
	color: #1b19ab82;
}

.cat-icon-two {
	color: #CCB88B;
	font-size: 30px;
}

.cat-icon-three {
	color: #f1c207;
	font-size: 30px;
}

.cat-icon-four {
	color: #5fab26;
	font-size: 30px;
}

.cat-icon-five {
	color: #ec1cac99;
	font-size: 30px;
}

.cat-icon-six {
	color: #0cc7a3;
	font-size: 30px;
}

.cat-icon-seven {
	color: #cc937f;
	font-size: 30px;
}

.cat-icon-eight {
	color: #823A99;
	font-size: 30px;
}


/* Community Section Begin-- -- -- -- -- - */

section.community {
	background-image: url('https://via.placeholder.com/1920x500');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 72px;
	border-top: 1px solid #e8e8e8;
	padding-bottom: 72px;
	border-bottom: 1px solid #e8e8e8;
}

section.cm-color {
	background-image: url('https://via.placeholder.com/1920x500');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 72px;
	border-top: 1px solid #e8e8e8;
	padding-bottom: 72px;
	border-bottom: 1px solid #e8e8e8;
}

.img-section {
	background-image: url('https://via.placeholder.com/1920x500');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content-section {
	text-align: center;
	padding: 15% 0;
}

.demo-box:hover figure {
	transform: translateY(-10px);
}

.demo-box figure {
	border: 1px solid #ccc;
	transition: all 0.5s ease;
}

.demo-headding {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
}

.content-section h2,
.content-section p {
	color: #fff !important;
}

.border-btm-0 {
	border-bottom: none!important;
}


/* Article Section Begin-- -- -- -- -- - */

.article-box li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	margin: 0px;
	padding: 5px;
	padding-left: 0px;
}

li {
	list-style: none;
}

a {
	color: #525252;
	font-size: 18px;
	font-family: 'jost', sans-serif;
	line-height: 30px;
	font-weight: 300;
	transition: all .5s ease;
	display: inline-block;
	margin: 10px 0px;
}

.arrow-icon {
	font-size: 24px;
	color: #b1b1b1;
	margin-right: 10px;
}

.breadcrumb-item.active {
	padding-top: 4px;
}


/* Article Section End-- -- -- -- -- - */


/* Footer Section Begin-- -- -- -- -- - */

.footer-content li {
	list-style: none;
	margin-top: 5px;
}

.my-50 {
	margin: 50px 0px;
}

footer {
	background: #f5f5f5;
	padding: 50px 0px;
	border-top: 1px solid #e8e2e2;
	overflow: hidden;
}

.demo-footer {
	background: #f5f5f5;
	padding: 0px;
	padding-top: 16px;
	border-top: 1px solid #e8e2e2;
	overflow: hidden;
}

.footer-content a {
	color: #525252;
	font-size: 16px;
	font-family: 'jost', sans-serif;
	line-height: 30px;
	font-weight: 400;
	padding: 0;
	margin: 0px;
}

ul.links {
	margin-top: 20px;
	padding-left: 0px;
}

.social-icon li {
	display: inline-block;
	padding-right: 30px;
}


/* Footer Section End-- -- -- -- -- - */


/* Inner Categories Section Begin-- -- -- -- -- - */

.breadcrumb-bg,
.breadcrumb {
	background: #fff;
	padding-left: 0px;
}

li.breadcrumb-item a {
	padding-bottom: 0;
}

.breadcrumb-item a {
	margin: 0px;
}


/* Inner Categories Section End-- -- -- -- -- - */

section.inner-community {
	background: #eee;
	margin-bottom: 120px;
	padding: 50px;
}

.right-inner-cat-box li,
.rel-content li {
	list-style: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
}

.boder-bottom-0 {
	border-bottom: 0px !important;
}

.inner-header {
	background: #f5f5f5;
	padding-top: 15px;
}

.righ-inner-header {
	padding-top: 11px;
}

.top {
	top: 4px;
	right: 7%;
}

.cat-arrow-icon {
	font-size: 24px;
	color: #525252;
	padding-top: 4px;
	padding-right: 5px;
}


/*  Categories Details  Page Begin-- -- -- -- -- - */

.follow-content {
	margin-top: 20px;
}

.supoort-img {
	border: 1px solid #ccc;
	padding: 50px 20px;
}

.larg-headding h4 {
	font-family: 'jost', sans-serif;
	font-weight: 300;
	color: #525252;
	font-size: 22px;
}

.follow-content .media img {
	border-radius: 50%;
}

.btn-outline-primary {
	background: #fff;
	color: #525252;
	border: 1px solid #1f1f1f;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	font-family: 'jost', sans-serif;
	padding: 5px 10px;
	display: inline-block;
	margin-bottom: 0px;
	border-radius: 0;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
	background: #111 !important;
	border-color: #111!important;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none !important;
}

.helpful-box {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 30px 0px;
	text-align: center;
}

.alert-primary {
	color: #525252;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	padding: 15px 15px 0px 15px;
}


/*  Categories Details  Page End-- -- -- -- -- - */


/*  Contact Details  Page Begin-- -- -- -- -- - */

.form-control {
	display: block;
	width: 100%;
	height: 55px;
	padding: 0px 10px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border-radius: 0px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #ccc;
	outline: 0;
}

.info-box {
	border: 1px solid #ccc;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 24px;
	margin-bottom: 120px;
}

.info-icon {
	position: absolute;
	top: -35px;
	right: 36%;
	background: #fff;
	padding: 0 20px;
}

.whatsapp-bg {
	color: #21cd43;
}

.skype-bg {
	color: #28a8ea;
}

.address {
	color: #ee4438;
}

.phone-bg {
	color: darkseagreen;
}

.info-box svg:not(:root).svg-inline--fa {
	overflow: visible;
	font-size: 50px;
}

.top-position {
	position: fixed;
	bottom: 70%;
	top: 5%
}

.tbl-content {
	transition: all 8s ease;
}
.acolor{
	color: #525252!important;
    font-weight: 300;
}

/*  Contact Details  Page End-- -- -- -- -- - */


/* Help Css End */


/* Media Query Begin -- -- -- -- -- - */


/* Smartphones (portrait and landscape) -- -- -- -- -- - */

@media screen and (min-width: 320px) and (max-width: 667px) {
	/* Styles */
	a.nav-link {
		margin-bottom: 10px;
	}
	.article-box ul {
		padding: 0px;
	}
	.search-icon {
		right: 10%;
	}
	.arrow-icon {
		font-size: 24px;
		color: #b1b1b1;
		margin-top: 5px;
		padding-left: 15px;
	}
	.top-position {
		position: relative!important;
	}
	section.community,
	.community cm-color {
		background: #fff;
	}
	.inner-header {
		padding: 15px 0px;
	}
	.supoort-img,
	.supoort-img {
		text-align: center;
	}
	.my-120 {
		margin: 60px 0px;
	}

}


/* iPads (portrait and landscape) -- -- -- -- -- - */

@media screen and (min-width: 768px) and (max-width: 1200px) {
	section.community {
		background-size: contain;
	}
	.info-icon {
		right: 33%;
	}
	
	.top-position {
		position: relative !important;
	}
	.supoort-img,
	.supoort-img {
		text-align: center;
	}
	.top,
	.search-icon {
		right: 10%;
	}

}

@media screen and (max-width: 736px) {
.tbl-content {
    display: none;
}
	
}
/* Desktops and laptops -- -- -- -- -- - */

@media screen and (min-width: 1280px) {}


/* Media Query End -- -- -- -- -- - */