.bkgd-page {
  background-image: url("https://tracigardner.github.io/TechComm/-images/assignments/Teal_Background_Tile.png");
  background-color: #508590;
}
.bkgd-anno {
  background-image: url("https://tracigardner.github.io/TechComm/-images/backgrounds/polka-dot.png");
  background-size: 600px;
  width: 100%;
  height: 100%;
  background-color: #508590;
}
p,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 15px !important;
}

#postBody p,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 15px !important;
}
.info-section {
  background-color: #ffffff;
  padding: 9px;
  color: #333333;
  box-shadow: 10px 10px #d7d2cb;
  margin-top: 24px;
}
.anno-section {
  background-color: #ffffff;
  padding: 9px;
  color: #333333;
  box-shadow: none;
  margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

#postBody h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h3 {
  font-size: 21px;
  font-weight: 600;
  background-color: #861f41;
  padding: 9px;
  color: #ffffff;
  margin-bottom: 21px;
  display: inline-block;
  margin-top: 0;
  box-shadow: 10px 10px #d7d2cb;
}

.anno {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 21px;
  margin-top: 0;
  box-shadow: none;
}

h4 {
  border-bottom: 1px solid #c64600;
}

.info-section h2 {
  font-size: 24px;
  font-weight: 600;
}

.info-section img {
  width: 180px;
  height: 180px;
  float: right;
  margin: 12px;
}
