.bkgd-page {
  background-image: url("https://tracigardner.github.io/TechComm/-images/assignments/Teal_Background_Tile.png");
  background-color: #508590;
}

p,
li,
#postBody p,
#postBody li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px !important;
}

.info-section {
  background-color: #ffffff;
  padding: 9px;
  color: #333333;
  box-shadow: 10px 10px #d7d2cb;
  margin-top: 24px;
}

h1,
#postBody h1,
h2,
#postBody h2,
h3,
#postBody h3,
h4,
#postBody h4,
h5,
#postBody h5,
h6,
#postBody h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 21px;
  font-weight: 600;
  background-color: #861f41;
  padding: 9px;
  color: #ffffff;
  margin-bottom: 21px;
  display: inline-block;
  margin-top: 0;
  box-shadow: 10px 10px #d7d2cb;
}

.info-section h2 {
  font-size: 24px;
  font-weight: 600;
}

.info-section img {
  width: 180px;
  height: 180px;
  float: right;
  margin: 12px;
}
