/* CSS Document */
/*setting up colors */
$primary-color: #861f41;
$hover-color: #e5751f;
$secondary-color: #e5751f;
$backgd-color: #F4F5F6;
$shadow-color: rgba(180, 180, 180, 0.69);

/* all the rest */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
}

.b0ld {
  font-weight: bold;
}

.tw-header {
  margin-top: 9px;
  border: 3px solid $primary-color;
}

.masthead h1 {
  font-weight: bold;
  color: $primary-color;
  text-shadow: 1px 1px 1px rgba(180, 180, 180, 0.69);
  margin-bottom: 3px;
}

.masthead h2 {
  margin-top: 0px;
  font-size: 18px;
  color: $secondary-color;
}

h3 {
  color: $primary-color;
  margin-bottom: 9px;
}

h4 {
  color: $secondary-color;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $secondary-color;
  text-decoration: underline;
}

.skipline li {
  margin-bottom: 9px;
}

.null li {
  margin-bottom: 0px;
}

.alignright {
  float: right;
  margin: 0px 0px 3px 9px;
}

.ptop-row {
  padding-top: 9px;
}

.border-left-line {
  border-left: 1px solid #d7d2cb;
}

.border-bottom-line {
  border-bottom: 1px solid #d7d2cb;
}

.border-top-line {
  border-top: 1px solid #d7d2cb;
  padding: 6px;
}

.border-top-dline {
  border-top: 3px double $primary-color;
  padding: 6px;
}

/* Stripes for Div Rows */
.trow:nth-child(odd) {
  background-color: #ffffff;
  border: 1px solid $primary-color;
}

.trow:nth-child(even) {
  background-color: #e5e1e6;
  border: 1px solid $primary-color;
}

.trow-right {
  border-left: 1px solid $primary-color;
}

/* Code for button links */
.btn-home {
  border-radius: 9px;
  background-color: $primary-color;
  color: #ffffff;
  text-decoration: none;
}

.btn-home:hover {
  background-color: $secondary-color;
  color: #000000;
}

/* Footer */
.footer-bkgd {
  border: 3px solid $primary-color;
  background-color: $primary-color;
}

.footer {
  color: #ffffff;
  background-color: $primary-color;
  font-size: 0.87rem;
}

.footer a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-divider-line {
  border-top: 1px solid $secondary-color;
}

.cntdwn {
  background-color: $primary-color;
  color: #ffffff;
  font-size: 1.5rem;
}

/* Table settings */
.table-topleft table,
.table-topleft tr,
.table-topleft td {
  text-align: left;
  vertical-align: top;
}

.table-topleft:nth-child(odd) {
  background-color: #ffffff;
  border: 1px solid $primary-color;
}

.table-topleft:nth-child(even) {
  background-color: #e5e1e6;
  border: 1px solid $primary-color;
}

/* horizontal bar graph */

.dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

.dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: .9rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text {
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  font-size: .8em;
  line-height: 1;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(to left,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 5%);

  &:after {
    content: "";
    display: block;
    background-color: $primary-color;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    &:after {
      background-color: $hover-color;
    }
  }
}

@for $i from 0 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: (
        $i * 1%
      );
    width: $value;
  }
}
}

/* vertical bar chart */

#q-graph {
  display: block;
  /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width: 11600px;
  height: 150px;
  /* margin: 1.1em 0 0; */
  padding: 0;
  background: transparent;
  font-size: 1rem;
}

#q-graph caption {
  caption-side: top;
  letter-spacing: .5px;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

#q-graph tr,
#q-graph th,
#q-graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

#q-graph td {
  transition: all .3s ease;

  &:hover {
    background-color: desaturate(#85144b, 100);
    opacity: .9;
    color: white;
  }
}

/*
#q-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;
}
*/
#q-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}

#q-graph thead th.sent {
  top: 0;
  left: 0;
  line-height: 2;
}

/*
#q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  color: #AAA;
}
*/
#q-graph #not {
  left: 15px;
}

#q-graph #slightly {
  left: 45px;
}

#q-graph #somewhat {
  left: 75px;
}

#q-graph #very {
  left: 105px;
  border-right: none;
}

#q-graph #extremely {
  left: 135px;
  border-right: none;
}

#q-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

#q-graph .bar {
  width: 15px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}

#q-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: .4;
}

#q-graph .sent {
  left: 13px;
  background-color: $secondary-color;
  border-color: transparent;
}