/* CSS Document */
/*setting up colors */
/* all the rest */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.b0ld {
  font-weight: bold;
}

.tw-header {
  margin-top: 9px;
  border: 3px solid #861f41;
}

.masthead h1 {
  font-weight: bold;
  color: #861f41;
  text-shadow: 1px 1px 1px rgba(180, 180, 180, 0.69);
  margin-bottom: 3px;
}

.masthead h2 {
  margin-top: 0px;
  font-size: 18px;
  color: #e5751f;
}

h3 {
  color: #861f41;
  margin-bottom: 9px;
}

h4 {
  color: #e5751f;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #e5751f;
  text-decoration: underline;
}

.skipline li {
  margin-bottom: 9px;
}

.null li {
  margin-bottom: 0px;
}

.alignright {
  float: right;
  margin: 0px 0px 3px 9px;
}

.ptop-row {
  padding-top: 9px;
}

.border-left-line {
  border-left: 1px solid #d7d2cb;
}

.border-bottom-line {
  border-bottom: 1px solid #d7d2cb;
}

.border-top-line {
  border-top: 1px solid #d7d2cb;
  padding: 6px;
}

.border-top-dline {
  border-top: 3px double #861f41;
  padding: 6px;
}

/* Stripes for Div Rows */
.trow:nth-child(odd) {
  background-color: #ffffff;
  border: 1px solid #861f41;
}

.trow:nth-child(even) {
  background-color: #e5e1e6;
  border: 1px solid #861f41;
}

.trow-right {
  border-left: 1px solid #861f41;
}

/* Code for button links */
.btn-home {
  border-radius: 9px;
  background-color: #861f41;
  color: #ffffff;
  text-decoration: none;
}

.btn-home:hover {
  background-color: #e5751f;
  color: #000000;
}

/* Footer */
.footer-bkgd {
  border: 3px solid #861f41;
  background-color: #861f41;
}

.footer {
  color: #ffffff;
  background-color: #861f41;
  font-size: 0.87rem;
}

.footer a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-divider-line {
  border-top: 1px solid #e5751f;
}

.cntdwn {
  background-color: #861f41;
  color: #ffffff;
  font-size: 1.5rem;
}

/* Table settings */
.table-topleft table,
.table-topleft tr,
.table-topleft td {
  text-align: left;
  vertical-align: top;
}

.table-topleft:nth-child(odd) {
  background-color: #ffffff;
  border: 1px solid #861f41;
}

.table-topleft:nth-child(even) {
  background-color: #e5e1e6;
  border: 1px solid #861f41;
}

/* horizontal bar graph */
/*
  .chart body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  color: #f8f8f8;
  font-size: 1.125rem;

  margin: 0;
  min-height: 100vh;

  background-color: #ffffff;
} */
/*
section {
  width: 100%;
  max-width: 30rem;
  padding: 1.5rem 1.5rem 2rem;
  border: 2px solid #a7a8aa;
  border-radius: 0.5rem;
  margin: auto;
} 

h2 {
  color: #861f41;
  margin-bottom: 9px;
} */
.chart {
  display: grid;
  grid-template-columns: auto;
  grid-auto-columns: 1fr;
  gap: 0.5em 0;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.chart li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #861f41;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
}

.chart li span {
  font-weight: bold;
}

.chart-reverse {
  background-color: #ffffff;
  color: #861f41;
  font-weight: bold;
}

/* vertical bar chart */
.simple-bar-chart {
  --line-count: 10;
  --line-color: #ffffff;
  /* currentcolor */
  --line-opacity: 0.25;
  --item-gap: 2%;
  --item-default-color: #060606;
  height: 10rem;
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 1.5rem;
  /*space for labels*/
  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
}

.simple-bar-chart::after {
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}

.simple-bar-chart > .item {
  height: calc(2% * var(--val));
  /* was 1% */
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  /* animation: item-height 1s ease forwards */
}

@keyframes item-height {
  from {
    height: 0;
  }
}
.simple-bar-chart > .item > * {
  position: absolute;
  text-align: center;
}

.simple-bar-chart > .item > .label {
  inset: 100% 0 auto 0;
}

.simple-bar-chart > .item > .value {
  inset: auto 0 100% 0;
}

/* open circle style pie chart (speed dial system) */
.pie {
  --w: 150px;
  width: var(--w);
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
}/*# sourceMappingURL=newsletter.css.map */