body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h3,
h5,
h6,
p,
ul,
ol,
td,
dd,
dt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:visited,
a:active,
a:link,
a:hover {
  color: #003c71;
  text-decoration: underline;
}

.skipline li,
.skipline ul li,
.skipline ol li,
.skipline dl,
.skipline dd {
  margin-bottom: 15px;
}

.bkgd-grid {
  background-image: url("https://tracigardner.github.io/TechComm/-images/backgrounds/grid-e5e1e6.png");
  background-size: 450px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.content-container {
  background-color: #ffffff;
  padding: 12px;
  margin: 24px;
  border: 3px solid #003c71;
}

.content-row {
  margin: 0px;
}

.content-col {
  background-color: #ffffff;
  /* keep the rectangle clearly separate from the page background */
}

.highlight {
  color: #003c71;
  font-weight: bold;
}

.highlight-blk {
  color: #333333;
  font-weight: bold;
}

/* Title style */
#title-heading {
  font-size: 21pt;
  margin: 24px 24px 0px 24px;
  padding: 12px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-bottom: 0;
  background-color: #003c71;
  border: 3px solid #003c71;
}

h2 {
  color: #003c71;
  font-weight: bold;
  border-bottom: 0px;
}

h3 {
  color: #ffffff;
  background-color: #003c71;
  padding: 12px 69px 12px 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 18pt;
  font-weight: bold;
  display: inline-block;
  margin-left: -25px;
  /* border: 6px solid #385d65; */
}

h4 {
  color: #333333;
  font-weight: bold;
}
