/* Styles for the User Document Infographics and Related Pages */

body {
  border: 6px solid #642667;
}

.pgtitle {
  background-color: #642667;
  color: #ffffff;
  font-size: 36px;
  padding: 9px;
  margin-bottom: 0px;
}

.dashed-left-box {
  border-right: 6px dashed #642667;
  border-bottom: 6px dashed #642667;
  background-color: #efe9ef;
  padding: 15px 18px;
}
