/* Styles for the User Document Infographics and Related Pages */

body {
  border: 6px solid #642667;
  font-size: 12pt;
}

h3 {
  color: #642667;
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.pgtitle {
  background-color: #642667;
  color: #ffffff;
  font-size: 36px;
  padding: 9px;
  margin-bottom: 0px;
}

.dashed-left {
  border-left: 6px dashed #642667;
  padding: 15px 18px;
}
.dashed-right {
  border-bottom: 6px dashed #642667;
  padding: 15px 18px;
}
.dashed-bottom {
  border-bottom: 6px dashed #642667;
  padding: 15px 18px;
}
.dashed-top {
  border-right: 6px dashed #642667;
  padding: 15px 18px;
}
.dashed-none {
  padding: 15px 18px;
}

.purple-light {
  background-color: #efe9ef;
}

.checkmark {
  list-style-type: "✔  ";
}
