:root {
  --vt-maroon-9s: #0d0306;
  --vt-maroon-8s: #1b060d;
  --vt-maroon-7s: #280913;
  --vt-maroon-6s: #360c1a;
  --vt-maroon-5s: #431021;
  --vt-maroon-4s: #501327;
  --vt-maroon-3s: #5e162e;
  --vt-maroon-2s: #6b1934;
  --vt-maroon-1s: #791c3b;
  --vt-maroon: #861f41;
  --vt-maroon-1t: #923654;
  --vt-maroon-2t: #9e4c67;
  --vt-maroon-3t: #ab637a;
  --vt-maroon-4t: #b6798d;
  --vt-maroon-5t: #c28fa0;
  --vt-maroon-6t: #cfa5b3;
  --vt-maroon-7t: #dabbc6;
  --vt-maroon-8t: #e7d2d9;
  --vt-maroon-9t: #f3e8ec;
  --vt-burntOrange-9s: #170c04;
  --vt-burntOrange-8s: #2e1707;
  --vt-burntOrange-7s: #44230b;
  --vt-burntOrange-6s: #5b2f0f;
  --vt-burntOrange-5s: #723b13;
  --vt-burntOrange-4s: #894616;
  --vt-burntOrange-3s: #a0521a;
  --vt-burntOrange-2s: #b65e1e;
  --vt-burntOrange-1s: #cd6921;
  --vt-burntOrange: #e5751f;
  --vt-burntOrange-1t: #e5751f;
  --vt-burntOrange-2t: #e5751f;
  --vt-burntOrange-3t: #e5751f;
  --vt-burntOrange-4t: #e5751f;
  --vt-burntOrange-5t: #e5751f;
  --vt-burntOrange-6t: #e5751f;
  --vt-burntOrange-7t: #f8d6bd;
  --vt-burntOrange-8t: #e5751f;
  --vt-burntOrange-9t: #e5751f;
  --vt-hokieStone-9s: #0c0c0c;
  --vt-hokieStone-8s: #171819;
  --vt-hokieStone-7s: #232425;
  --vt-hokieStone-6s: #2f3031;
  --vt-hokieStone-5s: #3b3c3e;
  --vt-hokieStone-4s: #46484a;
  --vt-hokieStone-3s: #525456;
  --vt-hokieStone-2s: #5e6062;
  --vt-hokieStone-1s: #696c6f;
  --vt-hokieStone: #75787b;
  --vt-hokieStone-1t: #838688;
  --vt-hokieStone-2t: #919395;
  --vt-hokieStone-3t: #9fa1a3;
  --vt-hokieStone-4t: #acaeb0;
  --vt-hokieStone-5t: #babbbd;
  --vt-hokieStone-6t: #c8c9ca;
  --vt-hokieStone-7t: #d5d6d7;
  --vt-hokieStone-8t: #e3e4e5;
  --vt-hokieStone-9t: #f1f1f2;
  --vt-white-9s: #191919;
  --vt-white-8s: #333333;
  --vt-white-7s: #4c4c4c;
  --vt-white-6s: #666666;
  --vt-white-5s: #808080;
  --vt-white-4s: #999999;
  --vt-white-3s: #b3b3b3;
  --vt-white-2s: #cccccc;
  --vt-white-1s: #e6e6e6;
  --vt-white: #ffffff;
  --vt-purple-9s: #0a040a;
  --vt-purple-8s: #140815;
  --vt-purple-7s: #1e0b1f;
  --vt-purple-6s: #280f29;
  --vt-purple-5s: #321334;
  --vt-purple-4s: #3c173e;
  --vt-purple-3s: #461b48;
  --vt-purple-2s: #501e52;
  --vt-purple-1s: #5a225d;
  --vt-purple: #642667;
  --vt-purple-1t: #743c76;
  --vt-purple-2t: #835185;
  --vt-purple-3t: #936895;
  --vt-purple-4t: #a27da4;
  --vt-purple-5t: #b192b3;
  --vt-purple-6t: #c1a8c2;
  --vt-purple-7t: #d0bdd1;
  --vt-purple-8t: #e0d4e1;
  --vt-purple-9t: #efe9ef;
  --vt-pink-9s: #150009;
  --vt-pink-8s: #290012;
  --vt-pink-7s: #3e001a;
  --vt-pink-6s: #520023;
  --vt-pink-5s: #67002c;
  --vt-pink-4s: #7c0035;
  --vt-pink-3s: #90003e;
  --vt-pink-2s: #a50046;
  --vt-pink-1s: #b9004f;
  --vt-pink: #ce0058;
  --vt-pink-1t: #d31a69;
  --vt-pink-2t: #d83379;
  --vt-pink-3t: #dd4d8a;
  --vt-pink-4t: #e2669b;
  --vt-pink-5t: #e780ac;
  --vt-pink-6t: #eb99bc;
  --vt-pink-7t: #f0b3cd;
  --vt-pink-8t: #f5ccde;
  --vt-pink-9t: #fae6ee;
  --vt-sunset-9s: #180e00;
  --vt-sunset-8s: #2f1c00;
  --vt-sunset-7s: #472a00;
  --vt-sunset-6s: #5f3800;
  --vt-sunset-5s: #774600;
  --vt-sunset-4s: #8e5300;
  --vt-sunset-3s: #a66100;
  --vt-sunset-2s: #b36f00;
  --vt-sunset-1s: #d57d00;
  --vt-sunset: #ed8b00;
  --vt-sunset-1t: #ef971a;
  --vt-sunset-2t: #f1a233;
  --vt-sunset-3t: #f2ae4d;
  --vt-sunset-4t: #f4b966;
  --vt-sunset-5t: #f6c57f;
  --vt-sunset-6t: #f8d199;
  --vt-sunset-7t: #fadcb2;
  --vt-sunset-8t: #fbe8cc;
  --vt-sunset-9t: #fdf3e5;
  --vt-yellow-9s: #191707;
  --vt-yellow-8s: #312f0e;
  --vt-yellow-7s: #4a4616;
  --vt-yellow-6s: #635e1d;
  --vt-yellow-5s: #7c7524;
  --vt-yellow-4s: #948c2b;
  --vt-yellow-3s: #ada432;
  --vt-yellow-2s: #c6bb3a;
  --vt-yellow-1s: #ded341;
  --vt-yellow: #f7ea48;
  --vt-yellow-1t: #f8ec5b;
  --vt-yellow-2t: #f9ee6d;
  --vt-yellow-3t: #f9f07f;
  --vt-yellow-4t: #faf291;
  --vt-yellow-5t: #fbf4a3;
  --vt-yellow-6t: #fcf7b6;
  --vt-yellow-7t: #fdf9c8;
  --vt-yellow-8t: #fdfbda;
  --vt-yellow-9t: #fefdec;
  --vt-teal-9s: #080d0e;
  --vt-teal-8s: #101b1d;
  --vt-teal-7s: #18282b;
  --vt-teal-6s: #20353a;
  --vt-teal-5s: #284348;
  --vt-teal-4s: #305056;
  --vt-teal-3s: #385d65;
  --vt-teal-2s: #406a73;
  --vt-teal-1s: #487882;
  --vt-teal: #508590;
  --vt-teal-1t: #62919b;
  --vt-teal-2t: #739da6;
  --vt-teal-3t: #85aab2;
  --vt-teal-4t: #96b6bc;
  --vt-teal-5t: #a7c2c7;
  --vt-teal-6t: #b9ced3;
  --vt-teal-7t: #cadadd;
  --vt-teal-8t: #dce7e9;
  --vt-teal-9t: #edf3f4;
  --vt-turquoise-9s: #041514;
  --vt-turquoise-8s: #092b27;
  --vt-turquoise-7s: #0d403b;
  --vt-turquoise-6s: #12554e;
  --vt-turquoise-5s: #166b62;
  --vt-turquoise-4s: #1a8076;
  --vt-turquoise-3s: #1f9589;
  --vt-turquoise-2s: #23aa9d;
  --vt-turquoise-1s: #28c0b0;
  --vt-turquoise: #2cd5c4;
  --vt-turquoise-1t: #42d9ca;
  --vt-turquoise-2t: #56ddd0;
  --vt-turquoise-3t: #6ce2d6;
  --vt-turquoise-4t: #80e6dc;
  --vt-turquoise-5t: #95eae1;
  --vt-turquoise-6t: #abeee7;
  --vt-turquoise-7t: #bff2ed;
  --vt-turquoise-8t: #d5f7f3;
  --vt-turquoise-9t: #e9fbf9;
  --vt-grey-9s: #151514;
  --vt-grey-8s: #2b2a29;
  --vt-grey-7s: #403f3d;
  --vt-grey-6s: #565451;
  --vt-grey-5s: #6c6966;
  --vt-grey-4s: #817e7a;
  --vt-grey-3s: #97938e;
  --vt-grey-2s: #aca8a2;
  --vt-grey-1s: #c2bdb7;
  --vt-grey: #d7d2cb;
  --vt-grey-1t: #dbd7d0;
  --vt-grey-2t: #dfdbd5;
  --vt-grey-3t: #e3e0db;
  --vt-grey-4t: #e7e4e0;
  --vt-grey-5t: #ebe8e5;
  --vt-grey-6t: #efedea;
  --vt-grey-7t: #f3f1ef;
  --vt-grey-8t: #f7f6f5;
  --vt-grey-9t: #fbfafa;
  --vt-smoke-9s: #171617;
  --vt-smoke-8s: #2e2d2e;
  --vt-smoke-7s: #454345;
  --vt-smoke-6s: #5c5a5c;
  --vt-smoke-5s: #737173;
  --vt-smoke-4s: #89878a;
  --vt-smoke-3s: #a09ea1;
  --vt-smoke-2s: #b7b4b8;
  --vt-smoke-1s: #cecbcf;
  --vt-smoke: #e5e1e6;
  --vt-smoke-7t: #f2f0f2;
  --vt-smoke-9t: #faf9fa;
  --vt-blue-9s: #00060b;
  --vt-blue-8s: #000c17;
  --vt-blue-7s: #001222;
  --vt-blue-6s: #00182d;
  --vt-blue-5s: #001e39;
  --vt-blue-4s: #002444;
  --vt-blue-3s: #002a4f;
  --vt-blue-2s: #00305a;
  --vt-blue-1s: #003666;
  --vt-blue: #003c71;
  --vt-blue-1t: #194f7f;
  --vt-blue-2t: #33638d;
  --vt-blue-3t: #4c769c;
  --vt-blue-4t: #668aaa;
  --vt-blue-5t: #809db8;
  --vt-blue-6t: #99b1c6;
  --vt-blue-7t: #b2c4d4;
  --vt-blue-8t: #ccd8e3;
  --vt-blue-9t: #e5ebf1;
  --vt-burntOrangeWeb-9s: #140800;
  --vt-burntOrangeWeb-8s: #281000;
  --vt-burntOrangeWeb-7s: #301800;
  --vt-burntOrangeWeb-6s: #512000;
  --vt-burntOrangeWeb-5s: #652800;
  --vt-burntOrangeWeb-4s: #792f00;
  --vt-burntOrangeWeb-3s: #803700;
  --vt-burntOrangeWeb-2s: #a23f00;
  --vt-burntOrangeWeb-1s: #b64700;
  --vt-burntOrangeWeb: #c64600;
  --vt-burntOrangeWeb-1t: #cf611a;
  --vt-burntOrangeWeb-2t: #d57233;
  --vt-burntOrangeWeb-3t: #da8440;
  --vt-burntOrangeWeb-4t: #df9566;
  --vt-burntOrangeWeb-5t: #e5a780;
  --vt-burntOrangeWeb-6t: #eab999;
  --vt-burntOrangeWeb-7t: #efcab3;
  --vt-burntOrangeWeb-8t: #f4dccc;
  --vt-burntOrangeWeb-9t: #faede6;
  --vt-impactOrange-9s: #140800;
  --vt-impactOrange-8s: #281000;
  --vt-impactOrange-7s: #301800;
  --vt-impactOrange-6s: #512000;
  --vt-impactOrange-5s: #652800;
  --vt-impactOrange-4s: #792f00;
  --vt-impactOrange-3s: #803700;
  --vt-impactOrange-2s: #a23f00;
  --vt-impactOrange-1s: #b64700;
  --vt-impactOrange: #ca4f00;
  --vt-impactOrange-1t: #cf611a;
  --vt-impactOrange-2t: #d57233;
  --vt-impactOrange-3t: #da8440;
  --vt-impactOrange-4t: #df9566;
  --vt-impactOrange-5t: #e5a780;
  --vt-impactOrange-6t: #eab999;
  --vt-impactOrange-7t: #efcab3;
  --vt-impactOrange-8t: #f4dccc;
  --vt-impactOrange-9t: #faede6;
}
